<!-- wp:template-part {"slug":"header","theme":"espresso-shop","tagName":"header"} /-->

<!-- wp:pattern {"slug":"espresso-shop/banner"} /-->

<!-- wp:group {"tagName":"main","className":"espresso-shop-product-section","style":{"spacing":{"blockGap":"var:preset|spacing|20","margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"0","right":"0"}}},"backgroundColor":"secaccent","layout":{"type":"constrained","contentSize":"100%"}} -->
<main id="product-section" class="wp-block-group espresso-shop-product-section has-secaccent-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--30);padding-right:0;padding-bottom:var(--wp--preset--spacing--30);padding-left:0"> 
<!-- wp:pattern {"slug":"espresso-shop/product-section"} /-->    
</main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"espresso-shop/about-us-section"} /-->
<!-- wp:pattern {"slug":"espresso-shop/testimonials-section"} /-->
<!-- wp:pattern {"slug":"espresso-shop/faq-section"} /-->
<!-- wp:pattern {"slug":"espresso-shop/news-section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"espresso-shop","tagName":"footer"} /-->